<script async src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script defer src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>

<script type="text/javascript">
window.onload = init;
function init(){
	window.mdc.autoInit();

	{% if messages %}
		var message = "";
		{% for message in messages %}
		 	message += '{{ message }}';
		{% endfor %}

		var notify = mdc.snackbar.MDCSnackbar.attachTo(document.querySelector('.mdc-snackbar'));
		 const data={
		   message: message,
		   actionText: 'Okay',
		   actionHandler: function() {
		     console.log(data);
		   }
		 };
		notify.show(data);
	{% endif %}

}
</script>

