<nb-layout center withScroll>
    <nb-layout-column class="offset-md-3 col-6 align-self-center">
        <nb-card>
            <nb-card-header>
                Sign Up
            </nb-card-header>
            <nb-card-body>  
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

                    <div class="form-group row" [ngClass]="{'has-danger':family_hexcolor.errors}">
                        <label class="form-group col-4">Family Color</label>
                        <input type="color" class="col-4" formControlName="family_hexcolor" [ngClass]="{'form-control-danger':family_hexcolor.errors}"/>
                        <div *ngIf="family_hexcolor.errors" class="form-control-feedback">{{ family_hexcolor.errors }}</div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-danger':family_name.errors}">
                        <input type="text" class="form-control" placeholder="Family name" formControlName="family_name"  [ngClass]="{'form-control-danger':family_name.errors}" />
                        <div *ngIf="family_name.errors" class="form-control-feedback">{{ family_name.errors }}</div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-danger':name.errors}">
                        <input type="text" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{'form-control-danger':name.errors}" />
                        <div *ngIf="name.errors" class="form-control-feedback">{{ name.errors }}</div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-danger':email.errors}">
                        <input type="email" class="form-control" placeholder="Email Address" formControlName="email" [ngClass]="{'form-control-danger':email.errors}" />
                        <div *ngIf="email.errors" class="form-control-feedback">{{ email.errors }}</div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-danger':phone.errors}">
                        <input type="text" class="form-control" placeholder="Phone Number" formControlName="phone" [ngClass]="{'form-control-danger':phone.errors}" />
                        <div *ngIf="phone.errors" class="form-control-feedback">{{ phone.errors }}</div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-danger':password.errors}">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'form-control-danger':password.errors}" />
                        <div *ngIf="password.errors" class="form-control-feedback">{{ password.errors }}</div>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                </form>
            </nb-card-body>
            <nb-card-footer>
                 <a [routerLink]="['/login']" class="btn btn-success btn-block">Login</a>
            </nb-card-footer>
        </nb-card>

    </nb-layout-column>
</nb-layout>
