<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    
<div class="row justify-content-center">
    <nb-card class="col-6">
        <nb-card-header>
            Update Profile
        </nb-card-header>
        <nb-card-body>  

                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

                <div class="form-group row" [ngClass]="{'has-danger':family_hexcolor.errors}">
                    <label class="form-group col-4">Family Color</label>
                    <input type="color" class="col-4" formControlName="family_hexcolor" [ngClass]="{'form-control-danger':family_hexcolor.errors}"/>
                    <div *ngIf="family_hexcolor.errors" class="form-control-feedback">{{ family_hexcolor.errors }}</div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger':family_name.errors}">
                    <input type="text" class="form-control" placeholder="Family name" formControlName="family_name"  [ngClass]="{'form-control-danger':family_name.errors}" />
                    <div *ngIf="family_name.errors" class="form-control-feedback">{{ family_name.errors }}</div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger':name.errors}">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{'form-control-danger':name.errors}" />
                    <div *ngIf="name.errors" class="form-control-feedback">{{ name.errors }}</div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger':phone.errors}">
                    <input type="text" class="form-control" placeholder="Phone Number" formControlName="phone" [ngClass]="{'form-control-danger':phone.errors}" />
                    <div *ngIf="phone.errors" class="form-control-feedback">{{ phone.errors }}</div>
                </div>
        </nb-card-body>
        <nb-card-footer>
            <button class="btn btn-outline-primary" type="submit">Update Profile</button>
        </nb-card-footer>
    </nb-card>
</div>
</form>