{% extends "layout/base.html" %}

{% block title %} Transaction {% endblock %}

{% block toolbar %}
    <div class="mdc-layout-grid__inner text-center">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <a href="{% url 'transaction-add' type='INCOME' %}" class="mdc-button mdc-button--raised mr-5">
                <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>INCOME
            </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <a href="{% url 'transaction-add' type='SAVING' %}" class="mdc-button mdc-button--raised mr-5">
                <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>SAVING
            </a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <a href="{% url 'transaction-add' type='EXPENSE' %}" class="mdc-button mdc-button--raised mr-5">
                <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>EXPENSE
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-sm table-bordered table-hover table-responsive-sm">
        <thead>
            <tr>
                <th>Type</th>
                <th>Date</th>
                <th>Category</th>
                <th>Member</th>
                <th>Tag</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in object_list %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.member }}</td>
                    <td>{{ transaction.tag }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <a href="/transaction/{{ transaction.id }}/" class="mdc-icon-button"><i class=" material-icons">edit</i></a>
                            <form method="POST" action="/transaction/{{ transaction.id }}/delete/">
                                {% csrf_token %}
                                <button type="submit" value="DELETE" class="mdc-icon-button material-icons">delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr> 
                    <td colspan="8" class="text-center">
                        No Transaction Data found
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "layout/paginate.html" %}
{% endblock %}
