<nb-layout windowMode>
    <nb-layout-header fixed>
        <nb-actions size="medium">
            <nb-action class="control-item" (click)="toggleSidebar()" icon="nb-menu" ></nb-action>
            <nb-action><strong>Kanaku Puthagam</strong></nb-action>
        </nb-actions>
        <div class="container">
            <div class="row justify-content-end">
                <nb-actions class="col-3" size="medium" fullWidth>
                    <nb-action>
                        <nb-user [menu]="userMenu" [name]="name" [picture]="user?.image"></nb-user>
                    </nb-action>
                </nb-actions>
            </div>
        </div>
    </nb-layout-header>

    <nb-sidebar left responsive>
        <nb-menu [items]="menu"></nb-menu>
    </nb-sidebar>

    <nb-layout-column left>
        <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <p>copyright &copy; 2017</p>
    </nb-layout-footer>
</nb-layout>

