<ul class="mdc-list" aria-orientation="vertical">
    <a href="{% url 'kp.dashboard' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
        Dashboard
    </a>
    <li class="mdc-list-divider" role="separator"></li>
    <a href="{% url 'budget-list' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">ballot</i>
        Budget
    </a>
    <a href="{% url 'splitup-list' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">shuffle</i>
        Split Up
    </a>
    <li class="mdc-list-divider" role="separator"></li>
    <a href="{% url 'transaction-list' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">compare_arrows</i>
        Transaction
    </a>
    <li class="mdc-list-divider" role="separator"></li>
    <a href="{% url 'category-list' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">category</i>
        Category
    </a>
    <a href="{% url 'member-list' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
        Member
    </a>
    <a href="{% url 'tag-list' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings_ethernet</i>
        Tag
    </a>
    <li class="mdc-list-divider" role="separator"></li>
</ul>
