{% extends "layout/base.html" %}

{% block title %} Budget {% endblock %}

{% block content %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-11">
            <h4 class="mdc-typography">Budget</h4>
        </div>
        <div class="mdc-layout-grid__cell--span-1">
            <a href="{% url 'login' %}" class="mdc-fab mdc-fab--mini">
                <i class="mdc-fab__icon material-icons" aria-hidden="true">add</i>
            </a>
        </div>
    </div>
</div>

<table id="budgetListTable" class="mdl-data-table" style="width:100%">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $('#budgetListTable').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'budgetList' %}",
        "columns": [
           { "data" : "amount" },
           {
                "targets": -1,
                "data": null,
                "searchable":false,
                "orderable":false,
                "defaultContent": '<button class="mdc-icon-button material-icons">edit</button><button class="mdc-icon-button material-icons">delete</button>'
            } 
        ],
        "columnDefs": [
            {
                targets: [ 0 ],
                "className": 'mdl-data-table__cell--non-numeric'
            }
        ]
    });
} );
</script>
{% endblock %}