<ul class="mdc-list" aria-orientation="vertical">
    <a href="{% url 'dashboard' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
        Dashboard
    </a>
    <li class="mdc-list-divider" role="separator"></li>
    <a href="{% url 'budget' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">ballot</i>
        Budget
    </a>
    <a href="{% url 'splitup' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">shuffle</i>
        Split Up
    </a>
    <li class="mdc-list-divider" role="separator"></li>
    <a href="{% url 'transaction' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">compare_arrows</i>
        Transaction
    </a>
    <li class="mdc-list-divider" role="separator"></li>
    <a href="{% url 'category' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">category</i>
        Category
    </a>
    <a href="{% url 'member' %}" class="mdc-list-item" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
        Member
    </a>
    <a href="{% url 'tag' %}" class="mdc-list-item" tabindex="0">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings_ethernet</i>
            Tag
        </a>
</ul>
